body{
  background: #f6f6f6;
  color:black;
}

.light-bg{
  background: #fff;
}

.dark-bg{
  background: #eee;
}

.taco-small{
  background: url("./images/taco-small.png");
}

.banner{
  height: 200px;
  margin:0;
  padding-left: 20px;
  padding-top: 50px;
  /*background:#fff;*/
}

.scientific-computing{
  background: url('./images/scientific_computing_thumbnail.png') no-repeat #fff;
  background-size: 80%;
  background-position: 50% 0%;
}

.machine-learning{
  background: url('./images/machine_learning_thumbnail.png') no-repeat #fff;
  background-size: 57%;
  background-position: 50% 0%;
}

.data-analytics{
  background: url('./images/data_analytics_thumbnail.png') no-repeat #fff;
  background-size: 80%;
  background-position: 50% 0%;
}

.performance-engineering{
  background: url('./images/performance_engineering_thumbnail.png') no-repeat #fff;
  background-size: 80%;
  background-position: 50% 0%;
}

.demo-card-square{
  margin-left:auto;
  margin-right: auto;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
