.dropdown-menu {
  cursor: pointer;
  top: initial;
  min-width: 10px;
  margin: 0;
  padding-top: 0px;
}

.dropdown li {
  float: left;
  width: 140px; 
  padding: 0; 
  font-size: 16px;
}

.dropdown li a {
  padding: 8px 16px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}