body{
  background: #f6f6f6;
  color:black;
}
/*
footer{
  position: relative;
  bottom: 0;
}*/

.light-bg{
  background:#fff;
}

/*.light-bg{
  position: relative;
}

.light-bg:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/space.png'); 
    background-size: 160%;
    background-position: 30% 20%;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}*/

body {
    -webkit-text-size-adjust: 100%;
}

.menu-title{
  color:white;
/*  font-size: 20px;
*/}

.color-grey{
  color: #9e9e9e;
}

.titles-grey{
  color:#323232;
}

.dark-bg{
  background: #eee;
}

.taco-small{
  background: url("./images/taco-small.png");
}

.body-text{
  text-align: justify;
}

.whytaco-icon{
  width: 160px;
  height: 160px;
}

.banner{
  height: 200px;
  margin:0;
  padding-left: 20px;
  padding-top: 50px;
}

.mdl-layout__header-row{
  padding-left: 30px;
}

a{
  text-decoration: none;
}

.fast-textbox,.easy-textbox, .versatile-textbox, .whytaco-box{
  margin:auto;
  width:80%;
/*  color:white;
*/}

.mit-news{
  background: url('../images/mit_tensor_algebra.jpg') no-repeat #fff;
  background-size: 300px;
  background-position: 50% 10%;
}

.scientific-computing{
  background: url('../images/scientific_computing_thumbnail.png') no-repeat #fff;
  background-size: 260px;
  background-position: 50% 10%;
}

.machine-learning{
  background: url('../images/machine_learning_thumbnail.png') no-repeat #fff;
  background-size: 320px;
  background-position: 50% 20%;
}

.data-analytics{
  background: url('../images/data_analytics_thumbnail.png') no-repeat #fff;
  background-size: 320px;
  background-position: 50% 0%;
}

.performance-engineering{
  background: url('../images/speed.png') no-repeat #fff;
  background-size: 160px;
  background-position: 50% 30%;
}

.demo-card-container {
  min-width: 325px;
}

.demo-card-square{
  margin-left:auto;
  margin-right: auto;
}

.demo-card-square.mdl-card {
  width: 95%;
  height: 320px;
}

ul {
  list-style-type: none; 
}

.sortable {
  margin: 0px; 
  padding: 0px;
}

.sortable li {
  float: left;
  width: 155px; 
  padding: 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}

/*Publications: */
.demo-list-three {
  width: 650px;
  margin:0 auto;
}

.paper{
  padding: 0;
}

.bibtex{
  white-space: pre-wrap;
  padding: 0px;
  padding-left: 0;
  border-radius: 10px;
  margin: 0px;
  line-height: 150%;
}

.getpdf{
  width:100%;
  margin-bottom:10px;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header {
  padding-left: 12px;
}

.normal-section-header {
  padding-bottom: 0px;
}

.normal-section-header > div {
  margin-bottom: 0px;
}

.demo-btn {
  width: 100%;
  font-weight: 400;
}

.help-btn {
  width: 22px;
  height: 22px;
  min-width: initial;
}

.help-menu {
  padding: 10px;
  width: 360px;
  color: black;
}

.help-menu p {
  white-space: initial;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.schedule-input {
  width: 170px;
}

.schedule-list {
  margin: 0px; 
  padding: 0px;
}

.schedule-list li {
  float: left;
  padding: 0.75em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
}

.space-font {
  font-family: monospace;
}

.space-font li {
  font-family: monospace;
}

.horizontal li {
  display: inline;
}