ul {
  list-style-type: none; 
}

a {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

.sortable {
  margin: 0px; 
  padding: 0px;
}

.sortable li {
  float: left;
  padding-left: 0px;
  padding-right: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-btn {
  width: 24px;
  height: 24px;
  min-width: initial;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.schedule-input {
  width: 200px;
}

.schedule-list {
  margin: 0px; 
  padding: 0px;
}

.schedule-list li {
  float: left;
  padding-right: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.space-font {
  font-family: monospace;
}

.space-font li {
  font-family: monospace;
}

.horizontal li {
  display: inline;
}

.add-reorder {
  line-height: 60px;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mdl-grid {
  padding-left: 0px;
  padding-right: 0px;
}

.format-selector {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 75px;
}

.format-selector > div {
  padding-right: 28px;
}

.format-selector .dropdown-menu {
  min-width: 190px;
}

.schedule-dropdown .dropdown-menu {
  min-width: 200px;
}

.optional-header {
  display: inline;
}

.help-btn-alternate {
  display: none;
}

@media (max-width: 580px) {
  .format-selector {
    flex-wrap: wrap;
  }

  .format-selector li {
    padding-right: 50px;
  }
  
  .schedule-list li {
    padding-right: 50px;
  }
  
  .optional-header {
    display: none;
  }

  .help-btn-alternate {
    display: inline;
  }
}

@media (max-width: 480px) {
  .format-selector li {
    padding-right: 0px;
  }

  .schedule-list li {
    padding-right: 0px;
  }
}

.box > p {
  word-break: word-wrap;
  white-space: normal;
}

.button.has-text-spaced {
  justify-content: space-between;
}

.label > small {
  font-weight: 400;
}

.input-bar {
  display: flex;
  flex-wrap: nowrap;
}

.input-bar-misc {
  display: flex;
  justify-content: space-between;
  min-width: 425px;
}

#btnExamples {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.demo-btn {
  margin-top: 20px;
  width: 175px;
  min-width: 175px;
}

@media (max-width: 875px) {
  .input-bar {
    flex-wrap: wrap;
  }

  .input-bar-misc {
    width: 100%;
    min-width: 0px;
  }

  .expr-input {
    padding-bottom: 5px;
  }

  .is-invalid {
    padding-bottom: 24px;
  }

  #btnExamples {
    margin-left: 0px;
  }

  .demo-btn {
    margin-top: 15px;
  }

  .prefix-input {
    padding-top: 15px;
  }

  #btnExamples {
    margin-top: 20px;
  }
}

.prefix-input {
  flex-grow: 1;
  margin-right: 15px;
}

.expr-input {
  width: 100%;
}

.sample-button {
  margin-bottom: 8px;
}

#cellBtnDownload {
  padding-right: 0px;
}

@media (max-width: 474px) {
  #cellBtnDownload {
    display: none;
  }

  .output-panel {
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .prefix-input {
    display: none;
  }

  .demo-btn {
    width: 100%;
  }
}

.level-formats .dropdown-item {
  padding-right: 16px;
}

#listExamples .long-name {
  display: none;
}
